body{
    width: 1440px;
    height: 1024px;
}

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #f2ece7;
    color: #223366;

}


body {
    margin: 0;
    padding: 0;
}

main{
    background-image: url(image-fond.jfif);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    color: white;

}
th a {
    
    display: block;
    padding: 0px;
    margin-right: 65px; /* Add your desired right margin */
 /* Set your desired border color and thickness */
    font-size: 35px;
    text-decoration: none; /* Remove the default underline for links */
    color: #333; /* Set your desired text color */
}

th:last-child a {
    margin-right: 0; /* Remove right margin for the last menu item */
}

#image_fleur img {
    width: 200px; /* Set the desired width */
    height: 200px; /* Maintain the aspect ratio */
}
