body {
    margin: 0;
    padding: 0;
    background-image: url('image-fond.png'); /* Replace 'background.jpg' with your image file */
    background-size: cover; /* Ensure the background covers the entire page */
    background-repeat: no-repeat; /* Prevent the background from repeating */
    background-attachment: fixed; /* Fixed background */
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #f2ece7;
    color: #223366;
    
}

.paragraphe-acceuil{
    height: fit-content;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.tableau-info-japon{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: beige;
    color: black;
    width: max-content;
}
.paragraphe-info{
    height: fit-content;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: blue;
    color: white;
    text-align: center;
}


th a {
    display: block;
    padding: 10px;
    margin-right: 15px; /* Add your desired right margin */
    border: 1px solid beige; /* Set your desired border color and thickness */
    text-decoration: none; /* Remove the default underline for links */
    color: #333; /* Set your desired text color */
    font-size: 16px; /* Set your desired font size */
}

th:last-child a {
    margin-right: 0; /* Remove right margin for the last menu item */
}

#image_fleur img {
    width: 200px; /* Set the desired width */
    height: 200px; /* Maintain the aspect ratio */
}

#ancre1 {
    text-align: center; /* Center horizontally */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Set the height of the container to the full viewport height */
    margin: 0; /* Remove any default margin */
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 450px;
    /*height: calc(100vh - 3px); /* Subtract the height of the menu border */
}

.center-container h1 em {
    font-weight: bold;
    font-style: italic;
    color: white;
}

.center-container h3 em {
    font-style: italic;
    color: white;
}

.center-container p em {
    font-weight: bold;
    font-style: italic;
    color: white;
}

main {
    background-image: url('image-fond.jfif');
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
