nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #f2ece7;
    color: #223366;
    padding-right: 20px; /* Adjust the right padding as needed */
}

body {
    margin: 0;
    padding: 0;
    background-image: url('image-fond.png'); /* Replace 'background.jpg' with your image file */
    background-size: cover; /* Ensure the background covers the entire page */
    background-repeat: no-repeat; /* Prevent the background from repeating */
    background-attachment: fixed; /* Fixed background */
    background-color: black;
}



th:last-child a {
    margin-right: 0; /* Remove right margin for the last menu item */
}

#image_fleur img {
    width: 200px; /* Set the desired width */
    height: 200px; /* Maintain the aspect ratio */
}



#ancre1 {
    font-size: 58px;
    font-weight: bold;
    color: white;
    margin-top: 380px; /* Remove default margin to move closer to the top */
}

#dec{
    font-style: italic;
    color: white;
    font-size: 23px;

/* Adjust the margin-top to move it closer to the top */
}

#exp {
    margin-top: 70px;
    font-style: italic;
    color: white;
    font-size: 26px; /* Adjust the margin-top to move it closer to the top */
}
body{
    width: 1440px;
    height: 1024px;
}

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #f2ece7;
    color: #223366;

}

.paragraphe-acceuil{
  
    display: flex;
    flex-direction: column;
   
    justify-content: center;
    color: white;
    width: 1440px;
    height: 1024px;
    


}
.Lien-bas-acceuil {
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 500px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

.paragraphe-apropos{
    background-image: url(image-fond.jfif);
    
    color: white;

}

body {
    margin: 0;
    padding: 0;
}

main{
    background-image: url(image-fond.jfif);
    display: flex;
    flex-direction: column;
   
    justify-content: center;
    color: white;

}
th a {
    
    display: block;
    padding: 0px;
    margin-right: 65px; /* Add your desired right margin */
 /* Set your desired border color and thickness */
    font-size: 35px;
    text-decoration: none; /* Remove the default underline for links */
    color: rgb(1, 1, 50; /* Set your desired text color */
}

th:last-child a {
    margin-right: 0; /* Remove right margin for the last menu item */
}

#image_fleur img {
    width: 280px; /* Set the desired width */
    height: 180px; /* Maintain the aspect ratio */
}

.paragraphe-acceuil {
    height: 400px; /* Adjust the height value as needed */
    text-align: center;

}

#button
{
    height: 60px;
    text-align: center;
    font-size: 2px;

}